
/* HOME */
.introducao {
    margin: 0px auto;
    width: 75%;
    height: 915px;
    background-color: rgba(207, 96, 96, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.titulo {
    margin: 0px;
    padding-top: 50px;
    text-align: center;
	font-size: 48px;
	color: rgb(99, 31, 99);
	font-weight: bold;
	text-transform: uppercase;
}
.lista_home li {
    width: 125px;
	height: 25px;
    text-align: center;
	display: inline-block;
	margin-left: 0px;
    padding: 50px;
}
.lista_home li a {
    color: rgb(99, 31, 99);
    font-weight:lighter;
	letter-spacing: .1em;
	font-size: 14px;
}
.lista_home a:hover{
    padding: 5px 5px 5px 5px;
    font-weight:bolder;
    color: rgb(255, 255, 255) ;
    background-color: palevioletred;
    text-transform: uppercase;
}
ul.lista_home {
    padding-inline-start: unset;   
}
body {
 	background: url("imagem/tumblr_o5dinnTRE21u77u56o1_1280.gif") no-repeat center fixed ;
    background-color: black;
	background-size: cover;
}


/* Basico HTML */
.basicohtml {
    margin: 0px auto;
    width: 75%;
    height: 800px;
    background-color: rgba(75, 126, 126, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    
}
.basicohtml h2,figure,li,a {
    text-align: center;
    color: rgb(1, 66, 66);
} 

/* Tag IMG */
.tagimg {
    margin: 0px auto;
    width: 75%;
    height: 800px;
    background-color: rgba(202, 107, 39, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.tagimg p,figure,a{
    text-align: center;
    color: rgb(95, 48, 15);
}
.tagimg h2{
    text-align: center;
    color: rgb(95, 48, 15);
}

/* Tabelas */
.tabela {
    margin: 0px auto;
    width: 75%;
    height: 800px;
    background-color: rgba(35, 4, 107, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 8px;

}
.tabela p{
    text-align: center;
    color: white;
}
.tabela h2{
    text-align: center;
    color: white;
}
.tabela a{
    text-align: center;
    color: white;
}
.tabela1 {
    margin: 50px auto;
    text-align: center;
    color: white;
}
/* Listas */
.lista{
    margin: 0px auto;
    width: 75%;
    height: 800px;
    background-color: rgba(133, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 8px;

}
.lista p,h2,ul{
    text-align: center;
    color:white ;
}

/* Formularios */
.formulario{
    margin: 0px auto;
    width: 75%;
    height: 800px;
    background-color: rgba(252, 117, 184, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.formulario p,h2,li,a{
    text-align: center;
    color:rgb(63, 0, 31) ;
    
}
.formulario li{
    list-style: none;   
}
